<p>
    <mat-toolbar>
      <button mat-icon-button aria-label="Example icon-button with menu icon" routerLink="/home">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Le Quizodrome</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="administration" routerLink="admin">
        <mat-icon>face

        </mat-icon>
      </button>
    </mat-toolbar>
  </p>
