<header class="header">
  <div>
    <p *ngIf="questions.length === 0">Aucune question</p>
    <div *ngIf="scoreVisible">Réponses soumises
    <p>Score: {{score}}/{{questions.length}}</p></div>
  </div>
<p>Question {{currentQuestionIndex + 1}}/{{questions.length}}</p>
</header>

<div class="container mt-2" *ngIf="questions.length > 0 && !scoreVisible">
  <h2>{{ questions[currentQuestionIndex].category.category }}</h2>
<p>Difficulté: {{ questions[currentQuestionIndex].difficulty.difficulty }}</p>
  <p class="question mt-2">{{ questions[currentQuestionIndex].question }}</p>
<p class="result-answer" *ngIf="resultAnswer">{{ resultAnswer }}</p>

    <mat-radio-group [(ngModel)]="userAnswers[currentQuestionIndex]" 
    *ngFor="let answer of questions[currentQuestionIndex].answers; let j = index">
      <mat-radio-button
      class="bg-answer"
      [ngStyle]="{'background-color': answerTrue && answer.isCorrect || answerFalse && answer.isCorrect ? 'rgb(29, 241, 29)': answerFalse && !answer.isCorrect ? 'rgb(236, 30, 30)' : ''}"
      (change)="onAnswerSelect(j)"
        value="{{j}}">{{answer.answer}}
      </mat-radio-button>
    </mat-radio-group>


  <!-- <button (click)="prevQuestion()" [disabled]="currentQuestionIndex === 0">Précédent</button>
    -->
    <div class="blocBtn">
  <button mat-raised-button color="primary" (click)="submitAnswers()" [disabled]="!isAnswerSelected">Valider</button>
  <button mat-raised-button color="accent" (click)="nextQuestion()" [disabled]="currentQuestionIndex === questions.length - 1 || !isAnswerSubmitted">Suivant</button>
  </div>
</div>
