<header class="header">
  <div>
    <p *ngIf="questions.length === 0">Aucune question</p>
    <div *ngIf="scoreVisible">Réponses soumises
    <p>Score: {{score}}/{{questions.length}}</p></div>
  </div>
<p>Question {{currentQuestionIndex + 1}}/{{questions.length}}</p>
</header>

<div class="container mt-2" *ngIf="questions.length > 0 && !scoreVisible">
  <p>{{ questions[currentQuestionIndex].category.category }}</p>
<p>{{ questions[currentQuestionIndex].difficulty.difficulty }}</p>
  <p>{{ questions[currentQuestionIndex].question }}</p>
<p class={{ bg-green }} *ngIf="resultAnswer">{{ resultAnswer }}</p>

    <mat-radio-group [(ngModel)]="userAnswers[currentQuestionIndex]" 
    *ngFor="let answer of questions[currentQuestionIndex].answers; let j = index">
      <mat-radio-button
      (change)="onAnswerSelect(j)"
        value="{{j}}">{{answer.answer}}
      </mat-radio-button>
    </mat-radio-group>


  <!-- <button (click)="prevQuestion()" [disabled]="currentQuestionIndex === 0">Précédent</button>
    -->
    <div class="blocBtn">
  <button mat-raised-button color="primary" (click)="submitAnswers()" [disabled]="!isAnswerSelected">Valider</button>
  <button mat-raised-button (click)="nextQuestion()" [disabled]="currentQuestionIndex === questions.length - 1 || !isAnswerSubmitted">Suivant</button>
  </div>
</div>
