.answer-bg {
  background-color: #f5f5f5;
  border-radius: 5px;
  border-color: rgb(14, 192, 247);
  padding: 10px;
  margin-bottom: 10px;
}
.bg-green {
  background-color: green;
}
.blocBtn {
  display: flex;
  justify-content: space-around;
}