/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
}

.header {
  flex: 0 0 auto;
  background-color: #1976d2;
  color: white;
  padding: 10px;
}

.d-flex {
  display: flex;
}

.justify-content-between {
  justify-content: space-between;
}
.justify-content-center {
  justify-content: center;
}

/*------------------------------------*/
/* SPACING */
/*------------------------------------*/

.mt-1 {
  margin-top: 1rem;
}
.mt-2 {
  margin-top: 2rem;
}